/* CSS Document */
*,
*::after,
*::before {
  background-repeat: no-repeat;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body{
    
    background-color: hsl(0, 100%, 74%) ;
    
    background-image: url(images/bg-intro-mobile.png);
    
    background-repeat: repeat-y;
    
    background-size: auto;
    
    background-position: center;
  
    font-family: 'Poppins', sans-serif;
}

h1 {
    
    color: white;
    
    line-height: 50px;
    
    font-size: 2em;
}

p {
    
    color: white;
    
    font-weight: 400;
    
    font-size: 16px;
}


/******* main *******/
main >div:first-of-type{
    /* background-color: yellow; */
    text-align: center;

    margin: 95px 30px 60px 30px;
}

main >div:first-of-type h1{
    
    margin-bottom: 23px;
}

main >div:nth-child(2){
margin: 0 25px;

}



/****************************/
/******* PURPLE BLOCK *******/
main >div:nth-child(2) >div:first-of-type{
    
    text-align: center;

    background-color: #5D54A3;
    
    box-shadow: rgba(0, 0, 0, 0.18) 0px 8px 3px;

    padding: 20px 45px;
   
    border-radius: 10px;
   
    margin-bottom: 25px;

}

main >div:nth-child(2) >div:first-of-type span{
font-weight: 700;
}

/*********************/
/******* FORM *******/
main >div:nth-child(2) form{
    
    background-color: white;
   
    box-shadow: rgba(0, 0, 0, 0.18) 0px 8px 3px;

    padding: 20px;
    
    margin-bottom: 30px;
   
    border-radius: 10px;
   
    display: flex;
   
    flex-direction: column;
    
    position: relative;
}

main >div:nth-child(2) form .row{
   
    display: flex;
   
    flex-direction: column;
   
    margin-bottom: 15px;
   
    position: relative;
}

main >div:nth-child(2) form .iconError {
   
    position: absolute;
   
    top: 15px;
   
    right: 10px;
   
    display: none;
}




main >div:nth-child(2) form input::placeholder{
    
    color: #747377;
    
    font-weight: 700;
    
    font-size: 16px;
}

main >div:nth-child(2) form input{

    border: 1px #E0E0E0 solid;

    padding: 20px 20px;

    border-radius: 3px;
}

main >div:nth-child(2) form input:focus{
   
    border: 1px rgb(95, 56, 135) solid;
}

main >div:nth-child(2) form .text-muted{

    color: hsl(0, 100%, 74%) ;

    text-align: right;

    font-size: 13px;

    display: none;

    margin-top: 2px;
}

main >div:nth-child(2) form button{
    border:none;
    
    color: white;
   
    font-size: 15px;
   
    text-transform: uppercase;
   
    letter-spacing: 1px;
   
    font-weight: 500;
   
    background-color: hsl(154, 59%, 51%);
   
    box-shadow: hsl(154, 64%, 36%) 0px 5px 0px;


    padding: 20px;
   
    border-radius: 4px;
   
    margin-bottom: 13px;
}

main >div:nth-child(2) form button:hover{
    
    background-color: hsl(154, 62%, 69%);
    
    box-shadow: hsl(154, 62%, 55%) 0px 5px 0px;
   
    cursor: pointer;
    }

main >div:nth-child(2) form .terms{
   
    font-size: 12px;
   
    text-align: center;
   
    margin:5px 5px;
   
    color: hsl(246, 25%, 77%);
    }

main >div:nth-child(2) form .terms span{

    color: hsl(0, 100%, 74%) ;
    
    font-weight: 700;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/***************************/
/******* MEDIA QUERY *******/
/***************************/


@media screen and (min-width: 1439px) {

    body{
        background-image: url(images/bg-intro-desktop.png);
    }
    
    main {
       
        display: flex;
       
        align-items: center;
        
        justify-content: center;
       
        flex-direction: row;
        
        margin-top: 10%;
    }

    main >div:first-of-type{
       
        margin: 95px 90px 60px 90px;
       
        width: 500px;
       
       text-align: left;
    }

    main >div:first-of-type h1{

        font-size: 3em;
    }

    main >div:nth-child(2){
       
        margin: 0 90px 0 0;
        
        width: 600px;
    }

    main >div:nth-child(2) form{    
        
        padding: 35px;

    }

    main >div:nth-child(2) form .row{
        
        margin-bottom: 20px;
   
    }

    main >div:nth-child(2) form button{

        margin-bottom: 16px;
        
        }
}

